.order-book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.order-book .ask td {
    color: green;
}

.order-book .bid td {
    color: red;
}

.order-book td {
    font-size: small;
    text-align: center;
    padding: 0 10px;
}