doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/script.js')
        //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQxiQgwi7DtCr6LWYQk2lFz3f7HEdj3hs&callback=initMap', async, defer)

    body(data-spy='scroll')

        block navbar

        block content