div.corp-view {
  justify-content: flex-start;
}

.filters-container {
  align-items: center;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.filters-container > span {
  margin-right: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.list {
  border-right: 1px solid #333;
}

.panels {
  flex-grow: 2;
}
