.side-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.side-selector > div {
  color: #eee;
  padding: 6px 8px;
  white-space: nowrap;
}

.selector-list-item:hover {
  border-bottom: 3px solid #226;
  padding: 6px 8px 3px 8px;
}
